.mynavbar {
  background-color: #715DB6; }
  .mynavbar .navbar-brand {
    background-color: #715DB6;
    color: white;
    border-right: 1px solid #715DB6; }
  .mynavbar a {
    color: white; }
  .mynavbar .nav > li > a:hover, .mynavbar a:hover, .mynavbar .navbar-nav > .active > a {
    background-color: #715DB6;
    color: white; }

body {
  padding-top: 50px;
  position: relative; }

section {
  padding: 30px 0px 40px 0px; }
  section.about {
    overflow: hidden;
    z-index: -3;
    color: white;
    background-color: #715DB6; }
    section.about .carousel-indicators {
      margin-top: 1em; }
    section.about .about-each .image_area {
      box-sizing: border-box;
      width: 30%;
      margin-top: 1em;
      height: 300px;
      overflow: hidden;
      float: left;
      background: transparent;
      border: none; }
      section.about .about-each .image_area img {
        position: relative;
        top: 0px; }
    section.about .about-each .right {
      text-align: left;
      padding-right: 0.5em;
      width: 60%;
      float: right;
      height: 300px;
      overflow: auto; }
      section.about .about-each .right .heading {
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: 1em; }
      section.about .about-each .right .body p {
        margin-bottom: 0.7em; }
      section.about .about-each .right .body a {
        padding: 5px;
        color: yellow; }
  section.desktop, section.web, section.web-desktop {
    position: relative;
    z-index: 10; }
    section.desktop h2, section.web h2, section.web-desktop h2 {
      margin-bottom: 2em; }
    section.desktop .item, section.web .item, section.web-desktop .item {
      position: relative;
      text-align: center; }
      section.desktop .item .hover-image, section.web .item .hover-image, section.web-desktop .item .hover-image {
        cursor: pointer;
        z-index: 10;
        position: absolute;
        visibility: hidden;
        transition: background-color 300ms ease-in; }
      section.desktop .item:hover, section.web .item:hover, section.web-desktop .item:hover {
        border: 1px solid white; }
        section.desktop .item:hover .hover-image, section.web .item:hover .hover-image, section.web-desktop .item:hover .hover-image {
          visibility: visible;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          background-color: rgba(113, 93, 182, 0.7);
          color: white;
          padding-top: 50%;
          font-weight: bold;
          text-decoration: none; }
        section.desktop .item:hover .heading, section.web .item:hover .heading, section.web-desktop .item:hover .heading {
          color: white;
          background-color: #715DB6; }
      section.desktop .item .heading, section.web .item .heading, section.web-desktop .item .heading {
        font-size: 1.2em;
        height: 3.5em;
        overflow: hidden;
        margin-bottom: 1px;
        color: #333;
        font-weight: bold; }
      section.desktop .item .body .image, section.web .item .body .image, section.web-desktop .item .body .image {
        overflow: hidden;
        height: 100px; }
        section.desktop .item .body .image img, section.web .item .body .image img, section.web-desktop .item .body .image img {
          max-width: 100%;
          max-height: 100%;
          text-align: center; }
      section.desktop .item .body .text .explanation, section.web .item .body .text .explanation, section.web-desktop .item .body .text .explanation {
        display: none;
        position: relative;
        height: 100px;
        overflow: hidden;
        border-bottom: 1px dashed black;
        margin-bottom: 5px; }
      section.desktop .item .body .text .time, section.web .item .body .text .time, section.web-desktop .item .body .text .time {
        text-align: center;
        height: 20px;
        margin-bottom: 10px;
        overflow: hidden; }
      section.desktop .item .body .text .challenges, section.web .item .body .text .challenges, section.web-desktop .item .body .text .challenges {
        display: none;
        height: 60px;
        margin-bottom: 10px;
        overflow: hidden; }
        section.desktop .item .body .text .challenges .topic, section.web .item .body .text .challenges .topic, section.web-desktop .item .body .text .challenges .topic {
          text-decoration: underline;
          color: #706E77;
          font-weight: bold; }
      section.desktop .item .body .text .conclude, section.web .item .body .text .conclude, section.web-desktop .item .body .text .conclude {
        display: none; }
      section.desktop .item .body .text .skills, section.web .item .body .text .skills, section.web-desktop .item .body .text .skills {
        height: 130px;
        overflow: hidden;
        z-index: 3; }
        section.desktop .item .body .text .skills ul, section.web .item .body .text .skills ul, section.web-desktop .item .body .text .skills ul {
          text-align: center;
          list-style: none;
          padding-left: 0px; }
          section.desktop .item .body .text .skills ul li, section.web .item .body .text .skills ul li, section.web-desktop .item .body .text .skills ul li {
            display: inline-block;
            background-color: #444;
            color: white;
            margin: 1px;
            padding: 2px 5px; }
  section.web {
    background-color: #715DB6;
    color: white; }
    section.web .item .heading {
      color: white; }
    section.web .item:hover .hover-image {
      background-color: rgba(255, 255, 255, 0.8); }
      section.web .item:hover .hover-image i {
        color: #715DB6; }
    section.web .item:hover .heading {
      background-color: white;
      color: #333; }
    section.web .item .body .text .skills ul {
      text-align: center;
      list-style: none;
      padding-left: 0px; }
      section.web .item .body .text .skills ul li {
        background-color: white;
        color: black; }
  section.web-desktop {
    border: 1px solid #cccccc;
    margin-bottom: 7em; }
    section.web-desktop .item .body .image img {
      max-height: 100%;
      max-width: 100%; }
  section .newrow {
    margin-top: 15px; }

.left-display-area {
  overflow: auto;
  padding: 1em 2em;
  position: fixed;
  width: 90%;
  left: 100%;
  top: 0px;
  bottom: 0px;
  z-index: 1040;
  background-color: white;
  box-shadow: black -2px 0px 20px 0px;
  transition: left 400ms linear; }
  .left-display-area.noshadow {
    box-shadow: none; }
  .left-display-area .direction-image.top {
    float: left;
    width: 10%;
    margin-right: -20%;
    color: white;
    position: relative;
    top: 10px; }
  .left-display-area .heading {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #715DB6;
    color: white; }
  .left-display-area .image img {
    width: 50%;
    position: relative;
    left: 25%;
    z-index: -1; }
  .left-display-area .explanation {
    margin-top: 2em;
    border-top: 1px solid black; }
  .left-display-area .time {
    border-top: 1px solid black;
    text-align: left; }
    .left-display-area .time .inner_time {
      font-weight: bold; }
  .left-display-area .challenges, .left-display-area .conclude, .left-display-area .skills {
    text-align: left; }
    .left-display-area .challenges .topic, .left-display-area .conclude .topic, .left-display-area .skills .topic {
      text-decoration: underline;
      font-weight: bold; }
  .left-display-area .skills {
    margin-bottom: 2em; }
    .left-display-area .skills .topic {
      margin-bottom: 0.5em; }
    .left-display-area .skills ul {
      list-style: none;
      padding-left: 0px; }
      .left-display-area .skills ul li {
        display: inline-block;
        background-color: #333;
        color: white;
        margin: 1px;
        padding: 2px 5px; }
  .left-display-area .direction-image a {
    cursor: pointer; }
  .left-display-area .direction-image .bottom {
    margin-bottom: 2em; }

.loading {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  z-index: 1050;
  padding-top: 40px;
  transition: all 1s linear; }

/*# sourceMappingURL=style.css.map */
