$purple : #715DB6;
$gray: #706E77;
$yellow: lighten(#FFFF4F, 5%);
.mynavbar{
	.navbar-brand{
		background-color: $yellow;
		color: $purple;
		border-right: 1px solid $purple;
	}
	a{
		color: $yellow;
	}
	.nav > li > a:hover, a:hover, .navbar-nav > .active > a{
		background-color: $yellow;
		color: $purple;
	}
	background-color: $purple;
}
body{
	padding-top: 50px;
	position: relative;
}
section{
	padding: 30px 0px 40px 0px;
	&.about{
		overflow: hidden;
		z-index: -3;
		color: white;
		background-color: $purple;
		.carousel-indicators{
			margin-top: 1em;	
		}
		.about-each{
			.image_area{
				box-sizing: border-box;
				width: 30%;
				// padding: 5%;
				margin-top: 1em;
				height: 300px;
				overflow: hidden;
				float: left;
				background: transparent;
				border: none;
				img{
					position: relative;
					top: 0px;
				}
			}
			.right{
				text-align: left;
				padding-right: 0.5em;
				width: 60%;
				// padding-top: 30px;
				float:right;
				height: 300px;
				overflow: auto;
				.heading{
					font-size: 1.2em;
					font-weight: bold;
					padding-bottom: 1em;	
				}
				.body{
					p{
						margin-bottom: 0.7em;
					}
					a{
						// background-color: black;
						padding: 5px;
						color: yellow;
						// line-height: 1.2em;
					}
				}
			}
		}
	}

	&.desktop, &.web, &.web-desktop{
		position: relative;
		z-index: 10;
		h2{
			margin-bottom: 2em;
		}
		.item{
			position: relative;
			// transition: background-color 300ms ease-in;
			border-radius: 5px;
			// padding: 1em 1.5em;
			text-align: center;
			// border: 1px solid $gray;
			.hover-image{
				cursor: pointer;
				z-index: 10;
				position: absolute;
				visibility: hidden;
				transition: background-color 300ms ease-in;
			}
			&:hover{
				.hover-image{
					visibility: visible;
					top: 0px;
					bottom: 0px;
					left: 0px;
					right: 0px;
					background-color: transparentize($purple, 0.2);
					color: white;
					padding-top: 50%;
					font-weight: bold;
					text-decoration: none;
				}
				border: 1px solid white;
				background-color: $purple;			}
			.heading{
				// border-bottom: 1px solid $gray;
				font-size: 1.2em;
				height: 3.5em;
				overflow: hidden;
				margin-bottom: 1px;
				color: $purple;
				font-weight: bold;
			}
			.body{

				.image{
					overflow: hidden;
					height: 100px;
					img{
						max-width: 100%;
						max-height: 100%;
						text-align: center;
					}
				}
				.text{
					.explanation{
						display: none;
						position: relative;
						height: 100px;
						overflow: hidden;
						border-bottom: 1px dashed black;
						margin-bottom: 5px;
						// &::after{
						// 	position: absolute;
						// 	bottom: 0px;
						// 	width: 100%;
						// 	height: em;
						// 	content: "...";
						// 	text-align: right;
						// 	right: 0px;
						// 	background-color: white;
						// }
					}
					.time{
						// position: relative;
						text-align: center;
						height: 20px;
						margin-bottom: 10px;
						overflow: hidden;
						// &::after{
						// 	position: absolute;
						// 	top: 0px;
						// 	content: ".....";
						// 	right: 0px;
						// 	background-color: white;
						// }
					}
					.challenges{
						display: none;
						.topic{
							text-decoration: underline;
							color: $gray;
							font-weight: bold;
						}
						height: 60px;
						margin-bottom: 10px;
						overflow: hidden;
					}
					.conclude{
						display: none;
					}
					.skills{
						height: 130px;
						overflow: hidden;
						z-index: 3;
						// box-shadow: white 0px -1px 15px 0px;
						ul{
							text-align: center;
							list-style: none;
							padding-left: 0px;
							li{
								display: inline-block;
								background-color: $gray;
								color: white;
								margin: 1px;
								padding: 2px 5px;
								// border: 1px solid white;
								border-radius: 5px;
							}
						}
					}
				}
			}
		}
	}
	&.desktop{
		// box-shadow: white 0px -3px 10px 0px;
		// border: 1px solid darken(white, 20%);
	}
	&.web{
		// border: 1px solid darken(white, 20%);
		background-color: $yellow;
		.item{
			// border: 1px solid darken($yellow, 40%);
		}
	}
	&.web-desktop{
		border: 1px solid darken(white, 20%);
		.item{
			.body .image img{
				// width: 50%;
				// position: relative;
				// left: 25%;
				// z-index: -1;
				max-height: 100%;
				max-width: 100%;
			}
		}
		margin-bottom: 7em;
	}
	.newrow{
		margin-top: 15px;
	}
}


.left-display-area{
	overflow: auto;
	padding: 1em 2em;
	position: fixed;
	// width: 90%;
	// left: 10%;
	left: 100%;
	top: 0px;
	bottom: 0px;
	z-index: 1040;
	background-color: white;
	box-shadow: black -2px 0px 20px 0px;
	transition: left 400ms linear;

	&.noshadow{
		box-shadow: none;
	}
	.direction-image.top{
		float: left;
		width: 10%;
		margin-right: -20%;
		color:white;
		position: relative;
		top: 10px;
		// background-color: #715DB6;
	}
	.heading{
		margin-top: 1em;
		color: white;
		margin-bottom: 1em;
		padding: 0.5em;
		background-color: $purple;
	}
	.image{
		img{
			width: 50%;
			position: relative;
			left: 25%;
			z-index: -1;
		}
	}
	.explanation{
		margin-top: 2em; 
		border-top: 1px solid black;
	}
	.time{
		border-top: 1px solid black;
		text-align: center;
		.inner_time{
			font-weight: bold;
		}
	}
	.challenges, .conclude, .skills{
		.topic{
			text-decoration: underline;
			font-weight: bold;
		}
	}
	.skills{
		margin-bottom: 2em;
		.topic{
			margin-bottom: 0.5em;
		}
		ul{
			list-style: none;
			padding-left: 0px;
			li{
				display: inline-block;
				background-color: $yellow;
				color: $purple;
				margin: 1px;
				padding: 2px 5px;
				border: 1px solid $purple;
				border-radius: 5px;
			}
		}
	}
	.direction-image{
		a{
			cursor: pointer;
		}
		.bottom{
			margin-bottom: 2em;
		}
	}
}
.loading{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: white;
	z-index: 1050;
	padding-top: 40px;
	transition: all 1s linear;
}